body{
  background-image:  url('images/bg.jpg');
  font-family: 微軟正黑體;
}

.container{
  background-color: rgb(5, 3, 4);
}

#shop_head{
  margin-bottom: 15px;
}

#shop_main{
  min-height: 200px;
}

#shop_foot{
 background-color: rgb(102, 43, 33);
 color: #fff;
 padding: 10px;
 line-height: 0.8;
 margin: 15px 0px;
}